@keyframes arrowMove {
  0% {
    padding-left: 0; }
  100% {
    padding-left: 5px; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 992px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1400px) {
    html {
      font-size: 70%; } }

body {
  overflow-x: hidden;
  font-family: "Gabarito", sans-serif; }

img {
  display: block;
  max-width: 100%; }

p {
  margin-bottom: 0; }

.primary-heading {
  font-size: 6.4rem;
  letter-spacing: 1px;
  text-transform: capitalize; }

.secondary-heading {
  font-size: 2.6rem;
  letter-spacing: 0.5px;
  font-weight: lighter; }

.tertiary-heading {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: lighter;
  color: #666666; }

.tertiary-paragraph {
  font-size: 2rem;
  letter-spacing: 0.3px; }

.category-title {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: #111111;
  position: relative; }
  .category-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #111111; }

.category-name {
  position: relative;
  color: #ffffff;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 0; }

.category-desc {
  color: #dddddd;
  font-size: 1.5rem;
  width: 80%; }

.shop-link {
  font-size: 1.4rem;
  color: #ffffff;
  background: linear-gradient(120deg, #ec2578, #6a2f8f, #00a7d2);
  padding: 1rem 5rem;
  border-radius: 35px;
  margin-top: 1rem;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: none; }
  .shop-link:hover {
    color: #ffffff;
    background-position: 100% 0; }

.shop-link-btn {
  font-size: 1.4rem;
  width: 100%;
  color: #ffffff;
  background: linear-gradient(120deg, #ec2578, #6a2f8f, #00a7d2);
  padding: 1rem 5rem;
  border-radius: 5px;
  margin-top: 1rem;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: none; }
  .shop-link-btn:hover {
    color: #ffffff;
    background-position: 100% 0; }

.title-heading {
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
  position: relative;
  text-transform: uppercase; }
  .title-heading::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10px;
    background: linear-gradient(90deg, #ec2578, #00a7d2);
    left: 0;
    height: 2px;
    border-radius: 10px; }
  .title-heading.newsletter-heading {
    text-align: center; }
    .title-heading.newsletter-heading::after {
      display: none; }

.display-tag {
  font-size: 1.8rem;
  color: #ec2578;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
  z-index: 20; }

.display-title {
  font-size: 5.4rem;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 2rem;
  z-index: 20; }

.display-text {
  font-size: 1.8rem;
  color: #ffffff;
  letter-spacing: 0.3px; }

.footer-text {
  font-size: 1.6rem;
  color: #333333;
  font-weight: lighter;
  margin-top: 3rem; }

.b {
  border: 2px solid red; }

.header-top-show {
  max-height: 0 !important;
  visibility: hidden;
  opacity: 1; }

.section-space {
  margin: 8rem 0; }

.light-box-shadow {
  box-shadow: -7px 0px 10px 0px rgba(102, 102, 102, 0.1);
  border-radius: 10px; }

.primary-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.5rem 2.8rem;
  font-size: 2rem;
  border-radius: 35px;
  background: linear-gradient(120deg, #ec2578, #6a2f8f, #00a7d2);
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: none; }

.primary-button:hover {
  color: white;
  background-position: 100% 0; }

.hero-button {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.8rem 15rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3px;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: 2px solid white;
  background: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715); }
  @media only screen and (max-width: 768px) {
    .hero-button {
      padding: 0.8rem 10rem; } }
  .hero-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #111111; }

.category-button {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.9rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 3px;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: 2px solid white;
  background: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715); }
  .category-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #111111; }

.arrow-link {
  text-decoration: none;
  color: #ec2578;
  font-size: 2rem;
  display: inline-block;
  margin-top: 1rem; }
  .arrow-link.arrow-link-alternate {
    color: #ec2578; }
    .arrow-link.arrow-link-alternate:hover {
      color: #f03f7c; }
  .arrow-link i {
    font-size: 1.6rem; }
  .arrow-link:hover {
    color: #00a7d2;
    transition: all 0.3s; }
    .arrow-link:hover i {
      animation: arrowMove 0.3s ease infinite alternate; }

.newsletter-button {
  text-decoration: none;
  color: #111111;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.45rem;
  font-weight: 700;
  transition: background-position 0.5s;
  border: 1.7px solid white;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
  z-index: 10; }
  @media only screen and (max-width: 768px) {
    .newsletter-button {
      padding: 1.5rem 2.5rem; } }
  .newsletter-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #111111; }

.add-to-cart {
  font-size: 1.4rem;
  color: #111111;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 35px;
  margin-top: 1rem;
  transition: background-color 0.5s;
  border: 1px solid rgba(102, 102, 102, 0.6); }
  .add-to-cart:hover {
    background: rgba(102, 102, 102, 0.1); }

#featured .featured-container {
  max-width: 1500px;
  margin: 0 auto; }
  #featured .featured-container a {
    text-decoration: none; }
  #featured .featured-container .featured-title-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  #featured .featured-container .product-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5rem 0;
    gap: 1rem;
    padding: 0 4rem; }
    @media only screen and (max-width: 992px) {
      #featured .featured-container .product-row {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 768px) {
      #featured .featured-container .product-row {
        grid-template-columns: repeat(1, 1fr); } }
    #featured .featured-container .product-row .product-container {
      display: flex;
      position: relative;
      width: 100%;
      margin-top: 3rem; }
      #featured .featured-container .product-row .product-container .product-card {
        height: 35rem;
        text-align: center;
        height: auto;
        position: relative;
        width: 100%;
        border-radius: 3px;
        overflow: hidden; }
        #featured .featured-container .product-row .product-container .product-card .product-tags {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 5; }
          #featured .featured-container .product-row .product-container .product-card .product-tags .product-tag {
            font-size: 1.4rem;
            font-weight: bolder;
            letter-spacing: 0.5px;
            color: white;
            background: #ec2578;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            text-transform: uppercase; }
        #featured .featured-container .product-row .product-container .product-card .product-card-image {
          overflow: hidden; }
          #featured .featured-container .product-row .product-container .product-card .product-card-image img {
            height: 18rem;
            width: 100%;
            object-fit: cover;
            transform: scale(1.04);
            transition: all 1s ease; }
            #featured .featured-container .product-row .product-container .product-card .product-card-image img:hover {
              transform: scale(1); }
        #featured .featured-container .product-row .product-container .product-card .product-detail {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; }
          #featured .featured-container .product-row .product-container .product-card .product-detail .price {
            display: flex;
            gap: 0.7rem;
            align-items: center; }
            #featured .featured-container .product-row .product-container .product-card .product-detail .price .product-price-cut {
              font-size: 1.3rem;
              color: #999999; }
            #featured .featured-container .product-row .product-container .product-card .product-detail .price .product-price {
              font-size: 1.5rem;
              color: #666666;
              letter-spacing: 0.5px;
              font-weight: 500; }
          #featured .featured-container .product-row .product-container .product-card .product-detail .shop-link {
            visibility: hidden;
            transform: translateY(100%);
            transition: all 0.4s ease; }
          #featured .featured-container .product-row .product-container .product-card .product-detail .shop-link-btn {
            visibility: hidden;
            transform: translateY(100%);
            transition: all 0.4s ease; }
          #featured .featured-container .product-row .product-container .product-card .product-detail .product-title {
            font-size: 1.4rem;
            letter-spacing: 0.1px;
            color: #111111;
            font-weight: 300;
            margin-top: 2rem;
            text-transform: capitalize; }
        #featured .featured-container .product-row .product-container .product-card:hover .shop-link {
          transform: translateY(0%);
          visibility: visible; }
        #featured .featured-container .product-row .product-container .product-card:hover .shop-link-btn {
          transform: translateY(0%);
          visibility: visible; }

.form-text-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #666666;
  width: 100%;
  font-size: 1.8rem;
  letter-spacing: 0.5px; }

header {
  position: relative;
  z-index: 100;
  width: 100%;
  top: 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  header .header-top {
    max-height: 300px;
    transition: all 0.5s ease-in-out; }
    header .header-top .header-top-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eeeeee;
      padding: 5px; }
      header .header-top .header-top-box .header-blank {
        width: 33%;
        visibility: visible;
        display: flex;
        padding-left: 1rem;
        gap: 1.5rem; }
        @media only screen and (max-width: 768px) {
          header .header-top .header-top-box .header-blank {
            display: none; } }
        header .header-top .header-top-box .header-blank .address {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          gap: 1rem;
          position: relative;
          padding-left: 1.5rem; }
          header .header-top .header-top-box .header-blank .address::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1.5px;
            background-color: #666666; }
          header .header-top .header-top-box .header-blank .address i {
            font-size: 1.5rem;
            color: #111111; }
        header .header-top .header-top-box .header-blank .phone {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          gap: 1rem;
          position: relative; }
          header .header-top .header-top-box .header-blank .phone i {
            font-size: 1.5rem;
            color: #111111; }
        header .header-top .header-top-box .header-blank p {
          font-size: 1.4rem;
          text-transform: uppercase; }
      header .header-top .header-top-box .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%; }
        @media only screen and (max-width: 768px) {
          header .header-top .header-top-box .header-logo {
            padding-left: 1rem; } }
      header .header-top .header-top-box .header-socials {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 0.5rem 1rem;
        width: 33%;
        justify-content: flex-end; }
        header .header-top .header-top-box .header-socials .header-icon {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: relative; }
          header .header-top .header-top-box .header-socials .header-icon .cart-number {
            position: absolute;
            top: 30%;
            right: 15px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            padding: 0.2rem;
            background-color: #ec2578;
            color: #eeeeee;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem; }
          header .header-top .header-top-box .header-socials .header-icon .icon {
            font-size: 1.8rem;
            color: #111111;
            cursor: pointer; }
          header .header-top .header-top-box .header-socials .header-icon span {
            font-size: 1.2rem;
            color: #333333;
            text-transform: uppercase;
            font-weight: 200;
            cursor: pointer; }
  header .header-mid {
    padding: 1rem 0;
    background-color: #00a7d2;
    display: none; }
    header .header-mid .notice-section {
      align-items: center;
      justify-content: center; }
      header .header-mid .notice-section p {
        font-size: 1.4rem;
        color: #eeeeee; }
  header .header-bottom-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 100%; }
  header nav .nav-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0;
    position: relative; }
    @media only screen and (max-width: 768px) {
      header nav .nav-items {
        gap: 2rem; } }
    header nav .nav-items .nav-item {
      position: relative;
      transition: all 0.4s ease-in-out; }
      header nav .nav-items .nav-item a {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 300;
        color: black;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        transition: 0.2s ease-in-out; }
        header nav .nav-items .nav-item a:hover {
          color: #ec2578; }
        header nav .nav-items .nav-item a .categories-link:hover .drop-menu {
          max-height: 300px;
          opacity: 1;
          visibility: visible; }
      header nav .nav-items .nav-item .drop-menu {
        display: flex;
        position: absolute;
        top: 130%;
        left: -40%;
        min-width: 50rem;
        height: auto;
        background-color: white;
        z-index: 10000;
        padding: 3rem;
        padding-left: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75); }
        header nav .nav-items .nav-item .drop-menu .dropdown-category {
          padding: 0;
          min-width: 20rem;
          display: flex;
          flex-direction: column;
          position: relative; }
          header nav .nav-items .nav-item .drop-menu .dropdown-category::after {
            content: "";
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            width: 1px;
            background-color: rgba(102, 102, 102, 0.6); }
          header nav .nav-items .nav-item .drop-menu .dropdown-category:last-child::after {
            display: none; }
          header nav .nav-items .nav-item .drop-menu .dropdown-category .drop-category-title {
            color: #111111;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem 0.5rem;
            padding-left: 2rem;
            list-style: none;
            background-color: #ffffff;
            transition: background-color 0.2s ease;
            text-transform: uppercase;
            font-size: 1.2rem; }
          header nav .nav-items .nav-item .drop-menu .dropdown-category .drop-down-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem 0.5rem;
            padding-left: 2rem;
            list-style: none;
            background-color: #ffffff;
            transition: background-color 0.2s ease; }
            header nav .nav-items .nav-item .drop-menu .dropdown-category .drop-down-item a {
              color: rgba(17, 17, 17, 0.7);
              text-transform: none !important; }
              header nav .nav-items .nav-item .drop-menu .dropdown-category .drop-down-item a:hover {
                text-decoration: underline; }
      header nav .nav-items .nav-item .active {
        color: #ec2578;
        z-index: 10001; }
    header nav .nav-items .categories-link > a {
      pointer-events: none;
      cursor: pointer; }
    header nav .nav-items .categories-link:hover .drop-menu {
      max-height: 300px;
      opacity: 1;
      visibility: visible; }

.story-container {
  display: flex;
  position: relative;
  margin-top: 0rem;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 10rem; }
  @media only screen and (max-width: 768px) {
    .story-container {
      overflow: auto;
      justify-content: flex-start;
      padding-left: 2rem;
      padding-right: 2rem; }
      .story-container::-webkit-scrollbar {
        display: none; } }
  .story-container .story-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
    cursor: pointer;
    max-width: 10rem;
    text-align: center;
    position: relative; }
    .story-container .story-box .story-image {
      width: 10rem;
      aspect-ratio: 1/1;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='2' stroke-dasharray='10%25%2c 5%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
      border-radius: 50%;
      cursor: pointer;
      padding: 0.3rem; }

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
      .story-container .story-box .story-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center; }
    .story-container .story-box .story-text {
      display: flex;
      align-items: center;
      justify-content: center; }
      .story-container .story-box .story-text p {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #666666; }

#hero .hero-slide .slick-prev,
#hero .hero-slide .slick-next {
  display: block !important;
  /* Use !important to override other styles if necessary */ }

#hero .hero-slide .hero-slide-container {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1; }
  #hero .hero-slide .hero-slide-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 63, 124, 0.5);
    z-index: 1; }
  #hero .hero-slide .hero-slide-container .hero-slide-contents {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10; }
    #hero .hero-slide .hero-slide-container .hero-slide-contents .hero-slide-content-box {
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      max-width: 80%; }
      #hero .hero-slide .hero-slide-container .hero-slide-contents .hero-slide-content-box .hero-primary-head {
        color: #ffffff;
        font-size: 10rem;
        text-transform: uppercase;
        font-family: "Playfair Display", serif; }
      #hero .hero-slide .hero-slide-container .hero-slide-contents .hero-slide-content-box .hero-secondary-head {
        color: #666666; }
      #hero .hero-slide .hero-slide-container .hero-slide-contents .hero-slide-content-box .hero-tertiary-paragraph {
        color: white;
        text-align: center !important;
        font-size: 2rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        font-weight: 500; }
      #hero .hero-slide .hero-slide-container .hero-slide-contents .hero-slide-content-box .hero-features {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;
        letter-spacing: 0.2rem;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%); }
    #hero .hero-slide .hero-slide-container .hero-slide-contents a {
      margin-top: 3rem; }
  #hero .hero-slide .hero-slide-container .hero-slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }

#hero .hero-slide .hero-slide-container-2 {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1; }
  #hero .hero-slide .hero-slide-container-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 167, 210, 0.6);
    z-index: 1; }
  #hero .hero-slide .hero-slide-container-2 .hero-slide-contents {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10; }
    #hero .hero-slide .hero-slide-container-2 .hero-slide-contents .hero-slide-content-box {
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      max-width: 80%; }
      #hero .hero-slide .hero-slide-container-2 .hero-slide-contents .hero-slide-content-box .hero-primary-head {
        color: #ffffff;
        font-size: 10rem;
        text-transform: uppercase;
        font-family: "Playfair Display", serif; }
      #hero .hero-slide .hero-slide-container-2 .hero-slide-contents .hero-slide-content-box .hero-secondary-head {
        color: #666666; }
      #hero .hero-slide .hero-slide-container-2 .hero-slide-contents .hero-slide-content-box .hero-tertiary-paragraph {
        color: white;
        text-align: center !important;
        font-size: 2rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        font-weight: 500; }
      #hero .hero-slide .hero-slide-container-2 .hero-slide-contents .hero-slide-content-box .hero-features {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;
        letter-spacing: 0.2rem;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%); }
    #hero .hero-slide .hero-slide-container-2 .hero-slide-contents a {
      margin-top: 3rem; }
  #hero .hero-slide .hero-slide-container-2 .hero-slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }

#newsletter {
  padding: 5rem 8rem;
  position: relative; }
  @media only screen and (max-width: 768px) {
    #newsletter {
      padding: 5rem 5rem; } }
  #newsletter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 167, 210, 0.5); }
  #newsletter .newsletter-box {
    text-align: center;
    z-index: 10; }
    #newsletter .newsletter-box h3 {
      color: #ffffff;
      z-index: 10; }
    #newsletter .newsletter-box h5 {
      color: #ffffff;
      position: relative;
      z-index: 10; }
    #newsletter .newsletter-box .newsletter-form {
      max-width: 600px;
      margin: auto;
      margin-top: 5rem;
      display: flex;
      align-items: center;
      height: 5rem;
      z-index: 10; }
      #newsletter .newsletter-box .newsletter-form .newsletter-form-group {
        display: flex;
        width: 100%;
        align-items: center; }
        #newsletter .newsletter-box .newsletter-form .newsletter-form-group .form-text-input {
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          padding: 1.45rem 0;
          padding-left: 3rem;
          border: 1px solid white;
          width: 50rem;
          z-index: 10;
          height: 100%; }
          @media only screen and (max-width: 768px) {
            #newsletter .newsletter-box .newsletter-form .newsletter-form-group .form-text-input {
              width: 22rem; } }
          #newsletter .newsletter-box .newsletter-form .newsletter-form-group .form-text-input::placeholder {
            font-size: 1.4rem;
            text-transform: uppercase; }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: rgba(102, 102, 102, 0.05); }
  footer .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px; }
    @media only screen and (max-width: 992px) {
      footer .container {
        max-width: 960px; } }
    footer .container .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap; }
      @media only screen and (max-width: 768px) {
        footer .container .wrapper {
          flex-direction: column; } }
      footer .container .wrapper .footer-widget {
        width: calc(20% - 30px);
        margin: 0 15px 50px;
        padding: 0 12px;
        display: flex;
        flex-direction: column; }
        footer .container .wrapper .footer-widget .payment-options {
          display: flex;
          flex-direction: column;
          margin-top: 2rem; }
          footer .container .wrapper .footer-widget .payment-options p {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            color: #666666; }
          footer .container .wrapper .footer-widget .payment-options .payment-images {
            display: flex;
            align-items: center;
            justify-content: flex-start; }
            footer .container .wrapper .footer-widget .payment-options .payment-images img {
              width: auto;
              height: 3rem;
              object-fit: contain;
              object-position: center;
              cursor: pointer; }
        @media only screen and (max-width: 992px) {
          footer .container .wrapper .footer-widget {
            width: calc(50% - 30px); } }
        @media only screen and (max-width: 768px) {
          footer .container .wrapper .footer-widget {
            width: 100%;
            margin: 0 10px 50px; } }
        footer .container .wrapper .footer-widget:nth-child(1) {
          width: calc(40% - 50px);
          margin-right: 15px; }
          @media only screen and (max-width: 992px) {
            footer .container .wrapper .footer-widget:nth-child(1) {
              width: calc(50% - 30px); } }
          @media only screen and (max-width: 768px) {
            footer .container .wrapper .footer-widget:nth-child(1) {
              width: 100%;
              margin: 0 10px 50px; } }
        footer .container .wrapper .footer-widget .logo {
          margin-bottom: 30px;
          vertical-align: middle;
          width: 8rem;
          aspect-ratio: 1/1;
          object-fit: contain;
          object-position: center; }
        footer .container .wrapper .footer-widget p {
          margin-bottom: 30px;
          font-size: 1.4rem;
          line-height: 24px; }
        footer .container .wrapper .footer-widget .desc {
          margin-bottom: 30px;
          font-size: 1.5rem;
          line-height: 24px;
          color: #666666; }
        footer .container .wrapper .footer-widget .socials {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 0; }
          footer .container .wrapper .footer-widget .socials li {
            list-style: none; }
            footer .container .wrapper .footer-widget .socials li a {
              width: 44px;
              height: 44px;
              margin-right: 10px;
              color: #ffffff;
              background-color: rgba(236, 37, 120, 0.8);
              border-radius: 50%;
              font-size: 2rem;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.3s ease-out; }
              footer .container .wrapper .footer-widget .socials li a:hover {
                background-color: #ec2578; }
        footer .container .wrapper .footer-widget h6 {
          color: #666666;
          margin: 10px 0 35px;
          font-size: 20px;
          font-weight: 600; }
        footer .container .wrapper .footer-widget .links {
          padding-left: 0; }
          footer .container .wrapper .footer-widget .links li {
            list-style: none; }
            footer .container .wrapper .footer-widget .links li a {
              color: #666666;
              font-size: 16px;
              text-decoration: none;
              text-transform: capitalize;
              line-height: 32px;
              transition: all 0.3s ease-out; }
              footer .container .wrapper .footer-widget .links li a:hover {
                color: #ec2578; }
    footer .container .copyright-wrapper {
      padding: 20px 0;
      border-top: 1px solid rgba(102, 102, 102, 0.3);
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .container .copyright-wrapper .copyright {
        color: rgba(102, 102, 102, 0.6);
        font-weight: 500;
        text-align: center;
        font-size: 1.4rem; }
        footer .container .copyright-wrapper .copyright a {
          color: inherit;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.3s ease-out; }
          footer .container .copyright-wrapper .copyright a:hover {
            color: #ec2578; }

#categories .categories-title-container {
  display: flex;
  align-items: center;
  justify-content: center; }

#categories .categories-container {
  max-width: 1500px;
  margin: 0 auto; }
  #categories .categories-container .categories-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0 4rem; }
    @media only screen and (max-width: 992px) {
      #categories .categories-container .categories-row {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 768px) {
      #categories .categories-container .categories-row {
        grid-template-columns: repeat(1, 1fr); } }
    #categories .categories-container .categories-row .category-container {
      display: flex;
      position: relative;
      width: 100%; }
      #categories .categories-container .categories-row .category-container .category-box {
        height: 35rem;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%; }
        #categories .categories-container .categories-row .category-container .category-box .category-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover; }
        #categories .categories-container .categories-row .category-container .category-box .category-details {
          position: relative;
          z-index: 2;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.8rem; }
        #categories .categories-container .categories-row .category-container .category-box::after {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.3) 80%);
          transition: all 1s ease; }

.display-container {
  display: flex;
  height: 600px; }
  .display-container .display-box-details {
    flex-basis: 40%;
    background: #6a2f8f;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .display-container .display-box-details::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(0, 167, 210, 0.7); }
    .display-container .display-box-details p {
      z-index: 20; }
    .display-container .display-box-details a {
      z-index: 20; }
  .display-container .display-box-image {
    flex: 1; }
    .display-container .display-box-image img {
      width: 100%;
      height: 600px;
      object-fit: cover; }

/* single-product */
#prodetails {
  display: flex;
  margin-top: 10rem !important;
  padding: 4rem 8rem;
  max-width: 1500px;
  margin: 0 auto; }
  @media only screen and (max-width: 992px) {
    #prodetails {
      gap: 3rem; } }
  @media only screen and (max-width: 768px) {
    #prodetails {
      flex-direction: column;
      padding: 4rem 3rem; } }
  #prodetails .single-product {
    display: flex;
    flex-direction: column;
    width: 40%; }
    @media only screen and (max-width: 992px) {
      #prodetails .single-product {
        width: 50%; } }
    @media only screen and (max-width: 768px) {
      #prodetails .single-product {
        width: 100%; } }
    #prodetails .single-product .single-pro-image {
      min-height: 550px;
      max-height: 550px;
      width: 100%;
      height: 55rem;
      padding-right: 50px; }
      @media only screen and (max-width: 992px) {
        #prodetails .single-product .single-pro-image {
          min-height: 490px;
          height: 49rem;
          padding-right: 0; } }
      @media only screen and (max-width: 768px) {
        #prodetails .single-product .single-pro-image {
          min-height: 490px;
          height: 49rem;
          padding-right: 0; } }
      #prodetails .single-product .single-pro-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px; }
    #prodetails .single-product .small-img-group {
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;
      width: 100%;
      gap: 0.5rem;
      padding-right: 50px; }
      @media only screen and (max-width: 992px) {
        #prodetails .single-product .small-img-group {
          padding-right: 0px; } }
      @media only screen and (max-width: 768px) {
        #prodetails .single-product .small-img-group {
          padding-right: 0px; } }
      #prodetails .single-product .small-img-group .small-img-col {
        cursor: pointer;
        border-radius: 3px;
        overflow: hidden;
        max-height: 12rem; }
        #prodetails .single-product .small-img-group .small-img-col img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
  #prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px; }
    @media only screen and (max-width: 768px) {
      #prodetails .single-pro-details {
        width: 100%; } }
    #prodetails .single-pro-details h6 {
      font-size: 1.5rem; }
    #prodetails .single-pro-details h4 {
      padding: 1rem 0;
      font-size: 3rem;
      color: #111111;
      font-weight: 400; }
    #prodetails .single-pro-details .price {
      display: flex;
      gap: 2rem;
      align-items: center; }
      #prodetails .single-pro-details .price .origi-price s {
        font-size: 1.5rem !important;
        color: #666666; }
      #prodetails .single-pro-details .price h2 {
        color: rgba(17, 17, 17, 0.8);
        font-weight: bold; }
    #prodetails .single-pro-details select {
      display: block;
      padding: 1rem 1.5rem;
      margin-bottom: 1.5rem;
      border-radius: 3px;
      font-size: 1.3rem; }
      #prodetails .single-pro-details select option {
        font-size: 1.2rem; }
    #prodetails .single-pro-details input {
      width: 50px;
      height: 47px;
      padding-left: 1rem;
      font-size: 1.4rem;
      margin-right: 1.5rem; }
    #prodetails .single-pro-details .action-options {
      display: flex;
      align-items: center;
      gap: 2rem; }
      #prodetails .single-pro-details .action-options button {
        border-radius: 3px; }
    #prodetails .single-pro-details input:focus {
      outline: none; }
    #prodetails .single-pro-details .product-description {
      margin-top: 1rem; }
      #prodetails .single-pro-details .product-description p {
        line-height: 2.5rem;
        font-size: 1.4rem;
        text-align: justify; }
    #prodetails .single-pro-details h5 {
      font-size: 2rem;
      margin-top: 2rem; }

#recommendations {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 3rem; }
  #recommendations a {
    text-decoration: none; }
  #recommendations .recom-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; }
    #recommendations .recom-title h3 {
      font-size: 3.5rem;
      color: #111111;
      text-transform: capitalize;
      position: relative; }
      #recommendations .recom-title h3::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #111111;
        top: 100%;
        left: 0; }
  #recommendations .product-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5rem 0;
    gap: 1rem;
    padding: 0 4rem; }
    @media only screen and (max-width: 992px) {
      #recommendations .product-row {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 768px) {
      #recommendations .product-row {
        grid-template-columns: repeat(1, 1fr); } }
    #recommendations .product-row .product-container {
      display: flex;
      position: relative;
      width: 100%;
      margin-top: 3rem; }
      #recommendations .product-row .product-container .product-card {
        height: 35rem;
        text-align: center;
        height: auto;
        position: relative;
        width: 100%;
        border-radius: 3px;
        overflow: hidden; }
        #recommendations .product-row .product-container .product-card .product-tags {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 5; }
          #recommendations .product-row .product-container .product-card .product-tags .product-tag {
            font-size: 1.4rem;
            font-weight: bolder;
            letter-spacing: 0.5px;
            color: white;
            background: #ec2578;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            text-transform: uppercase; }
        #recommendations .product-row .product-container .product-card .product-card-image {
          overflow: hidden; }
          #recommendations .product-row .product-container .product-card .product-card-image img {
            height: 18rem;
            width: 100%;
            object-fit: cover;
            transform: scale(1.04);
            transition: all 1s ease; }
            #recommendations .product-row .product-container .product-card .product-card-image img:hover {
              transform: scale(1); }
        #recommendations .product-row .product-container .product-card .product-detail {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; }
          #recommendations .product-row .product-container .product-card .product-detail .price {
            display: flex;
            gap: 0.7rem;
            align-items: center; }
            #recommendations .product-row .product-container .product-card .product-detail .price .product-price-cut {
              font-size: 1.3rem;
              color: #999999; }
            #recommendations .product-row .product-container .product-card .product-detail .price .product-price {
              font-size: 1.5rem;
              color: #666666;
              letter-spacing: 0.5px;
              font-weight: 500; }
          #recommendations .product-row .product-container .product-card .product-detail .shop-link {
            visibility: hidden;
            transform: translateY(100%);
            transition: all 0.4s ease; }
          #recommendations .product-row .product-container .product-card .product-detail .product-title {
            font-size: 1.4rem;
            letter-spacing: 0.1px;
            color: #111111;
            font-weight: 300;
            margin-top: 2rem;
            text-transform: capitalize; }
        #recommendations .product-row .product-container .product-card:hover .shop-link {
          transform: translateY(0%);
          visibility: visible; }

.filter-header .filter-condition {
  display: flex;
  align-items: center;
  gap: 1rem; }
  .filter-header .filter-condition span {
    font-size: 1.3rem;
    color: #666666; }
  .filter-header .filter-condition .selector {
    padding: 1rem 3rem 1em 0.5rem;
    font-size: 1.3rem;
    color: #666666; }
    .filter-header .filter-condition .selector:focus {
      outline: none; }
    .filter-header .filter-condition .selector option {
      font-size: 1.3rem;
      color: #666666; }

.container {
  max-width: 1500px;
  padding: 0 4rem; }
