$color-primary: #ec2578;
$color-primary-light: #f03f7c;

$color-secondary: #00a7d2;
$color-secondary-light: #00a7d2;

$color-tertiary: #6a2f8f;

$color-black: #111111;
$color-light-black: #333333;
$color-shaded-gray: #666666;
$color-light-gray: #999999;
$color-white: #ffffff;
$color-shaded-white: #dddddd;
$color-almost-white: #eeeeee;