@keyframes arrowMove {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 5px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  overflow-x: hidden;
  font-family: "Gabarito", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

.primary-heading {
  font-size: 6.4rem;
  letter-spacing: 1px;
}

.secondary-heading {
  font-size: 2.6rem;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.tertiary-heading {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: lighter;
  color: #666666;
}

.tertiary-paragraph {
  font-size: 2rem;
  letter-spacing: 0.3px;
}

.category-name {
  position: relative;
  color: #111111;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.category-desc {
  color: #666666;
  font-size: 1.6rem;
  width: 80%;
}

.title-heading {
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
  position: relative;
  text-transform: uppercase;
}
.title-heading::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  background: linear-gradient(90deg, #ec2578, #00a7d2);
  left: 0;
  height: 2px;
  border-radius: 10px;
}
.title-heading.newsletter-heading {
  text-align: center;
}
.title-heading.newsletter-heading::after {
  display: none;
}

.display-tag {
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

.display-title {
  font-size: 5.4rem;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.display-text {
  font-size: 1.8rem;
  color: #dddddd;
  letter-spacing: 0.3px;
}

.footer-text {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: #666666;
  font-weight: lighter;
}

.b {
  border: 2px solid red;
}

.header-top-show {
  max-height: 0 !important;
  visibility: hidden;
  opacity: 1;
}

.section-space {
  margin: 8rem 0;
}

.light-box-shadow {
  box-shadow: -7px 0px 10px 0px rgba(102, 102, 102, 0.1);
  border-radius: 10px;
}

.primary-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.5rem 2.8rem;
  font-size: 2rem;
  border-radius: 35px;
  background: linear-gradient(120deg, rgb(236, 37, 120), rgb(106, 47, 143), rgb(0, 167, 210));
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: none;
}

.primary-button:hover {
  color: white;
  background-position: 100% 0;
}

.arrow-link {
  text-decoration: none;
  color: #ec2578;
  font-size: 2rem;
  display: inline-block;
  margin-top: 1rem;
}
.arrow-link.arrow-link-alternate {
  color: #00a7d2;
}
.arrow-link.arrow-link-alternate:hover {
  color: #ec2578;
}
.arrow-link i {
  font-size: 1.6rem;
}
.arrow-link:hover {
  color: #00a7d2;
  transition: all 0.3s;
}
.arrow-link:hover i {
  animation: arrowMove 0.3s ease infinite alternate;
}

.product-row {
  margin: 10rem 0;
}
.product-row .product-card {
  text-align: center;
  height: auto;
  position: relative;
}
.product-row .product-card .product-tags {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-row .product-card .product-tags .product-tag {
  font-size: 1.4rem;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: white;
  background: #ec2578;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  text-transform: uppercase;
}
.product-row .product-card .product-card-image img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-row .product-card .product-category {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #666666;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product-row .product-card .product-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #111111;
  font-weight: lighter;
}
.product-row .product-card .product-price {
  font-size: 1.8rem;
  color: #333333;
  letter-spacing: 0.5px;
  color: #111111;
  font-weight: bold;
}

.form-text-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #666666;
  width: 100%;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: white;
}
header .header-top {
  max-height: 300px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
header .header-top .header-top-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
}
header .header-top .header-top-box .header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header-top .header-top-box .header-contact img {
  width: 22px;
  filter: brightness(0) saturate(100%) invert(22%) sepia(70%) saturate(3909%) hue-rotate(322deg) brightness(97%) contrast(90%);
}
header .header-top .header-top-box .header-contact p {
  font-size: 1.6rem;
  color: #666666;
}
header .header-top .header-top-box .header-socials {
  display: flex;
  gap: 5px;
}
header .header-top .header-top-box .header-socials .header-social {
  color: #ec2578;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
header .header-bottom-box .nav-items {
  display: flex;
  gap: 2rem;
}
header .header-bottom-box .nav-items .nav-item a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
header .header-bottom-box .header-actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .header-bottom-box .header-actions .header-action img {
  width: 20px;
}

#hero .hero-slide .hero-slide-container {
  position: relative;
  height: 100vh;
}
#hero .hero-slide .hero-slide-container .hero-slide-content {
  height: 100%;
}
#hero .hero-slide .hero-slide-container .hero-slide-content .hero-slide-content-box {
  display: flex;
  height: 100%;
  align-items: end;
  width: 50%;
  padding-bottom: 15rem;
}
#hero .hero-slide .hero-slide-container .hero-slide-content .hero-slide-content-box .hero-primary-head {
  color: #111111;
}
#hero .hero-slide .hero-slide-container .hero-slide-content .hero-slide-content-box .hero-secondary-head {
  color: #666666;
}
#hero .hero-slide .hero-slide-container .hero-slide-content .hero-slide-content-box .hero-tertiary-paragraph {
  color: #333333;
}
#hero .hero-slide .hero-slide-container .hero-slide-content a {
  margin-top: 3rem;
}
#hero .hero-slide .hero-slide-container .hero-slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.newsletter-box {
  text-align: center;
}
.newsletter-box .newsletter-form-group {
  display: flex;
  width: 100%;
}
.newsletter-box .newsletter-form {
  max-width: 420px;
  margin: auto;
  margin-top: 5rem;
}

footer {
  background: #eeeeee;
}
footer .footer-container {
  padding: 7rem 0;
}
footer .footer-container .footer-box {
  padding: 0 5rem;
}
footer .footer-container .footer-box.footer-brand-desc {
  border-right: 2px solid #666666;
  padding-left: 0;
}
footer .footer-container .footer-box:not(:first-child) {
  padding-right: 5rem;
}
footer .footer-container .footer-box .footer-logo {
  width: 50px;
}
footer .footer-container .footer-box .footer-socials {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
footer .footer-container .footer-box .footer-socials i {
  font-size: 1.8rem;
  color: #ec2578;
}
footer .footer-container .footer-box .footer-head {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #333333;
}
footer .footer-container .footer-box .footer-items {
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
}
footer .footer-container .footer-box .footer-items li {
  margin-bottom: 2px;
}
footer .footer-container .footer-box .footer-items li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #111111;
  letter-spacing: 0.3px;
  transition: all 0.3s;
}
footer .footer-container .footer-box .footer-items li a:hover {
  color: #ec2578;
}

.service-box {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 3rem;
}
.service-box .service-icon {
  width: 100px;
}
.service-box .service-head {
  font-size: 2rem;
  color: #111111;
}
.service-box .service-details {
  font-size: 1.4rem;
  color: #666666;
  letter-spacing: 0.5px;
}
.service-box:not(:last-child) {
  border-right: 1px solid #dddddd;
}

.category-box {
  height: 30rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 1rem;
}
.category-box .category-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-box .category-details {
  position: relative;
  z-index: 2;
  padding: 3rem;
}
.category-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, white 5%, rgba(0, 0, 0, 0) 90%);
}

.display-container {
  display: flex;
  height: 600px;
}
.display-container .display-box-details {
  flex-basis: 40%;
  background: #6a2f8f;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.display-container .display-box-image {
  flex: 1;
}
.display-container .display-box-image img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */