footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: rgba($color: $color-shaded-gray, $alpha: 0.05);

  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;

    @include respond(medium) {
      max-width: 960px;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      @include respond(small) {
        flex-direction: column;
      }

      .footer-widget {
        width: calc(20% - 30px);
        margin: 0 15px 50px;
        padding: 0 12px;
        display: flex;
        flex-direction: column;

        .payment-options {
          display: flex;
          flex-direction: column;
          margin-top: 2rem;

          p {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            color: $color-shaded-gray;
          }

          .payment-images {
            display: flex;
            // gap: 0.5rem;
            align-items: center;
            justify-content: flex-start;

            img {
              width: auto;
              height: 3rem;
              object-fit: contain;
              object-position: center;
              cursor: pointer;
            }
          }
        }

        @include respond(medium) {
          width: calc(50% - 30px);
        }

        @include respond(small) {
          width: 100%;
          margin: 0 10px 50px;
        }

        &:nth-child(1) {
          width: calc(40% - 50px);
          margin-right: 15px;

          @include respond(medium) {
            width: calc(50% - 30px);
          }

          @include respond(small) {
            width: 100%;
            margin: 0 10px 50px;
          }
        }

        .logo {
          margin-bottom: 30px;
          vertical-align: middle;
          width: 8rem;
          aspect-ratio: 1/1;
          object-fit: contain;
          object-position: center;
        }

        p {
          margin-bottom: 30px;
          font-size: 1.4rem;
          line-height: 24px;
        }
        .desc {
          margin-bottom: 30px;
          font-size: 1.5rem;
          line-height: 24px;
          color: $color-shaded-gray;
        }

        .socials {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 0;

          li {
            list-style: none;

            a {
              width: 44px;
              height: 44px;
              margin-right: 10px;
              color: #ffffff;
              background-color: rgba($color: $color-primary, $alpha: 0.8);
              border-radius: 50%;
              font-size: 2rem;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.3s ease-out;

              &:hover {
                background-color: $color-primary;
              }
            }
          }
        }

        h6 {
          color: $color-shaded-gray;
          margin: 10px 0 35px;
          font-size: 20px;
          font-weight: 600;
        }

        .links {
          padding-left: 0;

          li {
            list-style: none;

            a {
              color: $color-shaded-gray;
              font-size: 16px;
              text-decoration: none;
              text-transform: capitalize;
              line-height: 32px;
              transition: all 0.3s ease-out;

              &:hover {
                color: $color-primary;
              }
            }
          }
        }
      }
    }

    .copyright-wrapper {
      padding: 20px 0;
      border-top: 1px solid rgba($color: $color-shaded-gray, $alpha: 0.3);
      display: flex;
      align-items: center;
      justify-content: center;

      .copyright {
        color: rgba($color: $color-shaded-gray, $alpha: 0.6);
        font-weight: 500;
        text-align: center;
        font-size: 1.4rem;

        a {
          color: inherit;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.3s ease-out;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
