header {
  // position: fixed;
  position: relative;
  z-index: 100;
  width: 100%;
  top: 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  .header-top {
    max-height: 300px;
    transition: all 0.5s ease-in-out;
    // overflow: hidden;

    .header-top-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-almost-white;
      padding: 5px;

      .header-blank {
        width: 33%;
        visibility: visible;
        display: flex;
        // flex-direction: column;
        padding-left: 1rem;
        gap: 1.5rem;

        @include respond(small) {
          display: none;
        }

        .address {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          gap: 1rem;
          position: relative;
          padding-left: 1.5rem;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1.5px;
            background-color: $color-shaded-gray;
          }

          i {
            font-size: 1.5rem;
            color: $color-black;
          }
        }

        .phone {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          gap: 1rem;
          position: relative;

          i {
            font-size: 1.5rem;
            color: $color-black;
          }
        }

        p {
          font-size: 1.4rem;
          text-transform: uppercase;
        }
      }

      .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
        // visibility: hidden;

        @include respond(small) {
          padding-left: 1rem;
        }
      }

      .header-socials {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 0.5rem 1rem;
        width: 33%;
        justify-content: flex-end;

        .header-icon {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: relative;

          .cart-number {
            position: absolute;
            top: 30%;
            right: 15px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            padding: 0.2rem;
            background-color: $color-primary;
            color: $color-almost-white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
          }

          .icon {
            font-size: 1.8rem;
            color: $color-black;
            cursor: pointer;
          }

          span {
            font-size: 1.2rem;
            color: $color-light-black;
            text-transform: uppercase;
            font-weight: 200;
            cursor: pointer;
          }
        }
      }
    }
  }

  .header-mid {
    padding: 1rem 0;
    background-color: $color-secondary;
    display: none;

    .notice-section {
      // display: flex;
      // display: none;
      align-items: center;
      justify-content: center;
      // width: fit-content;

      p {
        font-size: 1.4rem;
        color: $color-almost-white;
      }
    }
  }

  .header-bottom-box {
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }

  nav {
    .nav-items {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 3rem;
      padding: 1rem 0;
      position: relative;

      @include respond(small) {
        gap: 2rem;
      }

      .nav-item {
        position: relative;
        transition: all 0.4s ease-in-out;

        a {
          text-decoration: none;
          font-size: 1.3rem;
          font-weight: 300;
          color: black;
          letter-spacing: 0.8px;
          text-transform: uppercase;
          transition: 0.2s ease-in-out;

          &:hover {
            color: $color-primary;
          }

          .categories-link:hover .drop-menu {
            max-height: 300px;
            opacity: 1;
            visibility: visible;
          }
        }

        .drop-menu {
          display: flex;
          // flex-direction: column;
          position: absolute;
          top: 130%;
          left: -40%;
          min-width: 50rem;
          // width: 80rem;
          height: auto;
          background-color: rgba($color: $color-white, $alpha: 1);
          z-index: 10000;
          padding: 3rem;
          padding-left: 1rem;
          opacity: 0;
          visibility: hidden;
          transition: max-height 0.3s ease, opacity 0.3s ease,
            visibility 0.3s ease;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);

          .dropdown-category {
            padding: 0;
            min-width: 20rem;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              height: 100%;
              right: 0;
              top: 0;
              width: 1px;
              background-color: rgba($color: $color-shaded-gray, $alpha: 0.6);
            }

            &:last-child::after {
              display: none;
            }

            .drop-category-title {
              color: $color-black;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 1rem 0.5rem;
              padding-left: 2rem;
              list-style: none;
              background-color: $color-white;
              transition: background-color 0.2s ease;
              text-transform: uppercase;
              font-size: 1.2rem;
            }

            .drop-down-item {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 1rem 0.5rem;
              padding-left: 2rem;
              list-style: none;
              background-color: $color-white;
              transition: background-color 0.2s ease;
              // padding-left: 0;

              a {
                color: rgba($color: $color-black, $alpha: 0.7);
                text-transform: none !important;

                &:hover {
                  text-decoration: underline;
                }
              }

              &:hover {
                // background-color: rgba($color: $color-almost-white, $alpha: 1);
              }
            }
          }
        }

        .active {
          color: $color-primary;
          z-index: 10001;
        }
      }

      .categories-link {
        & > a {
          pointer-events: none;
          cursor: pointer;
        }
        &:hover .drop-menu {
          max-height: 300px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.story-container {
  display: flex;
  position: relative;
  margin-top: 0rem;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 10rem;
  // animation: rotateAnimation 3s linear infinite;

  @include respond(small) {
    overflow: auto;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .story-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
    cursor: pointer;
    // border: 1px solid red;
    max-width: 10rem;
    text-align: center;
    position: relative;

    .story-image {
      width: 10rem;
      aspect-ratio: 1/1;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='2' stroke-dasharray='10%25%2c 5%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
      border-radius: 50%;
      cursor: pointer;
      padding: 0.3rem;
      // animation: rotateAnimation 3s linear infinite;

      @keyframes rotateAnimation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }

    .story-text {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-shaded-gray;
      }
    }
  }
}
