#hero {
  .hero-slide {
    .slick-prev,
    .slick-next {
      display: block !important; /* Use !important to override other styles if necessary */
    }
    .hero-slide-container {
      position: relative;
      height: 70vh;
      //   border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $color-primary-light, $alpha: 0.5);
        z-index: 1;
      }

      .hero-slide-contents {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;

        .hero-slide-content-box {
          display: flex;
          flex-direction: column;
          height: fit-content;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          max-width: 80%;
          //   border: 5px solid orange;

          .hero-primary-head {
            color: $color-white;
            font-size: 10rem;
            text-transform: uppercase;
            font-family: "Playfair Display", serif;
            // border: 1px solid red;
          }

          .hero-secondary-head {
            color: $color-shaded-gray;
          }

          .hero-tertiary-paragraph {
            color: white;
            text-align: center !important;
            font-size: 2rem;
            letter-spacing: 1rem;
            text-transform: uppercase;
            font-weight: 500;
          }

          .hero-features {
            text-transform: uppercase;
            font-size: 1.5rem;
            color: $color-white;
            letter-spacing: 0.2rem;
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        a {
          margin-top: 3rem;
        }
      }

      .hero-slide-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }

    .hero-slide-container-2 {
      position: relative;
      height: 70vh;
      //   border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $color-secondary, $alpha: 0.6);
        z-index: 1;
      }

      .hero-slide-contents {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;

        .hero-slide-content-box {
          display: flex;
          flex-direction: column;
          height: fit-content;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          max-width: 80%;
          //   border: 5px solid orange;

          .hero-primary-head {
            color: $color-white;
            font-size: 10rem;
            text-transform: uppercase;
            font-family: "Playfair Display", serif;
            // border: 1px solid red;
          }

          .hero-secondary-head {
            color: $color-shaded-gray;
          }

          .hero-tertiary-paragraph {
            color: white;
            text-align: center !important;
            font-size: 2rem;
            letter-spacing: 1rem;
            text-transform: uppercase;
            font-weight: 500;
          }

          .hero-features {
            text-transform: uppercase;
            font-size: 1.5rem;
            color: $color-white;
            letter-spacing: 0.2rem;
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        a {
          margin-top: 3rem;
        }
      }

      .hero-slide-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
  }
}
