.primary-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.5rem 2.8rem;
  font-size: 2rem;
  border-radius: 35px;
  background: linear-gradient(
    120deg,
    rgba(236, 37, 120, 1),
    rgba(106, 47, 143, 1),
    rgba(0, 167, 210, 1)
  );
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: none;
}

.primary-button:hover {
  color: white;
  background-position: 100% 0;
}

.hero-button {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.8rem 15rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 3px;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: 2px solid white;
  background: $color-white;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

  @include respond(small) {
    padding: 0.8rem 10rem;
  }

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 0.7);
    color: rgba($color: $color-black, $alpha: 1);
  }
}

.category-button {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.9rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 3px;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.5s;
  border: 2px solid white;
  background: $color-white;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 0.7);
    color: rgba($color: $color-black, $alpha: 1);
  }
}

.arrow-link {
  text-decoration: none;
  color: $color-primary;
  font-size: 2rem;
  display: inline-block;
  margin-top: 1rem;

  &.arrow-link-alternate {
    color: $color-primary;

    &:hover {
      color: $color-primary-light;
    }
  }

  i {
    font-size: 1.6rem;
  }

  &:hover {
    color: $color-secondary;
    transition: all 0.3s;

    i {
      animation: arrowMove 0.3s ease infinite alternate;
    }
  }
}

.newsletter-button {
  text-decoration: none;
  color: rgba($color: $color-black, $alpha: 1);
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.45rem;
  font-weight: 700;
  transition: background-position 0.5s;
  border: 1.7px solid white;
  background-color: rgba($color: $color-white, $alpha: 0.7);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
  z-index: 10;

  @include respond(small) {
    padding: 1.5rem 2.5rem;
  }

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 0.4);
    color: rgba($color: $color-black, $alpha: 1);
  }
}

.add-to-cart {
  font-size: 1.4rem;
  color: $color-black;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 35px;
  margin-top: 1rem;
  transition: background-color 0.5s;
  border: 1px solid rgba($color: $color-shaded-gray, $alpha: 0.6);

  &:hover {
    background: rgba($color: $color-shaded-gray, $alpha: 0.1);
  }
}
