.b {
    border: 2px solid red;
}

.header-top-show {
    max-height: 0 !important;
    visibility: hidden;
    opacity: 1;
}

.section-space {
    margin: 8rem 0;
}

.light-box-shadow {
    box-shadow: -7px 0px 10px 0px rgba($color-shaded-gray, 0.1);
    border-radius: 10px;
}